@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --gris-oscuro: #2C2C2C;
    --gris-claro:#758A93;
    --gris-claro-hover: #516770;
    --fondo: #EEEEEE;
    --verde-claro: #2FA084;
    --verde-claro-hover:#56baa1;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    text-decoration: none; 
}
body{
    background-color: var(--fondo);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh; 
}

/* texto */
h1{
    font-size: 3rem;
    font-weight: 600;
    color: var(--gris-oscuro);
}
p{
    font-size: 1.5rem;
    font-weight: 500;
}
a, #btnReenviar{
    margin-left: 0.5rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--verde-claro);
    transition:all 0.1s ease-in-out;
    cursor: pointer;
    background-color: transparent;
    border: none;
}
a:hover, #btnReenviar:hover{
    color: var(--verde-claro-hover);
}
#btnReenviar:disabled{
    color: var(--gris-claro-hover);
    cursor: not-allowed;
}
#alerta p{
    font-size: 1rem;
    font-weight: 500;
    color: #DC2626;
}
#correo-recuperacion{
    color: var(--gris-claro-hover);
    text-decoration: underline;
}
/* subtitulos grises */
.sub-gris{
    color: var(--gris-claro);
}
/* boton */
.boton{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    background-color: var(--verde-claro);
    width: 29rem;
    padding: 0.8rem 4rem;
    border-radius: 1rem;
    border: none;
    color: white;
    cursor: pointer;
    transition:all 0.2s ease-in-out;
}
.boton:hover{
    background-color: var(--verde-claro-hover);
}
.boton__texto{
    font-size: 2rem;
    font-weight: 600;
    font-style: italic;
}
/* recuperar contraseña */
.recuperar-contra__volver{
    display: flex;
    align-items: center;
    transition:all 0.1s ease-in-out;
    color: var(--gris-claro);
}
.recuperar-contra__volver:hover{
    color: var(--gris-claro-hover);
}
.recuperar-contra__volver .icono{
    width: 2rem;
    fill: currentColor;
}
.icono-correo{
    width: 3rem;
    height: 3rem;
    padding: 1.5rem;
    border-radius: 100%;
    background-color: #2fa08428;
    color: var(--verde-claro);
}
.recuperar-contra__reenviar{
    display: flex;
}
.recuperar-contra__reenviar p{
    font-weight: 400;
}

/* seccion para introducir el codigo */
.recuperar-contra__codigo{
    display: flex;
    gap: 1rem;
}
.recuperar-contra__codigo input{
    width: 3rem;
    font-size: 3rem;
    text-align: center;
    padding: 1rem;
    background-color: #D9D9D9;
    border-radius: 1rem;
    border: none;
    outline: none;
}
.recuperar-contra__codigo input:focus{
    outline: 0.15rem solid var(--verde-claro);
}
/* alerta */
#alerta{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    display: none;
}
#alerta svg{
    width: 1.2rem;
}
